
#name{
  font-size: 25;
}
#ruby{
  color: red;
}

.tabla{
  width:100%;
  height:100%;
}
#text{
  margin-left: auto !important; 
  margin-right: 0 !important;
}

#Basic{
  color:rgb(255, 88, 111);
}
#Expert{
  color:rgb(4, 0, 255);
}
#Advance{
  color:rgb(174, 0, 255);
}

#result{
  color:rgb(255, 0, 0) !important;
  margin-left: 0 !important; 
  margin-right: auto !important;

}

